*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --rojo--primario: #ed143d;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #444;
}
::-webkit-scrollbar-thumb{
    background: var(--rojo--primario);
    border-radius: 50px;
}

/* -------------------- Inicio -------------------- */

/* +++++++++++++++ */
/*   ++loader++    */
/* +++++++++++++++ */

.contenedor-loader{
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 70px;
    height: 70px;
    border: 10px solid #555;
    border-top: 10px solid var(--rojo--primario);
    border-radius: 100%;
    animation: giroLoader 1s linear infinite;
}

@keyframes giroLoader{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* -------------------- Header -------------------- */

.header{
    background: url(img/fondo_negro_textura.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-cont,
.sobremi__cont,
.herramientas__cont,
.trabajos__cont,
.contacto__cont{
    width: 90%;
    max-width: 1280;
    margin: auto;
}

.menu{
    width: 100%;
    left: 0;
    position: fixed; 
    background-color: #444;
    padding: 5px 50px;
    border: 2px solid #333;

    display: flex;
    justify-content: space-between;
    align-items: center;    
    z-index: 20;
}

.menu__logo{
    width: 60px;
    min-width: 60px;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px;
}

.menu__A3D{
    width: 100%;
}

.menu__listado{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 20px;
}

.menu__enlace{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 300ms;
}

.menu__enlace:hover{
    color: var(--rojo--primario);;
}

.menu__navegador{
    width: 40%;
}

.header__caratula{
    height: 100%;
}

.header__texto1,
.header__boton{
    font-weight: 300;
    font-size: 25px;
}

.header__texto2{
    font-size: 70px;
}

.header__texto3{
    font-size: 36px;
}

.header__texto3--rojo{
    color: var(--rojo--primario);;
    font-size: 60px;
}

.header__boton{
    display: inline-block;
    padding: 15px;
    margin-top: 90px;
    background-color: var(--rojo--primario);;
    border-radius: 5px;
    /* animation-name: showbtn; */
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}

@keyframes showbtn{
    0%{
        transform: scale(0);
    }
    75%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.caratula__izquierda{
    position: relative;
    color: #fff;
    padding-top: 25vh;
    padding-left: 10vw;   
    z-index: 10;
    /* animation-name: desplazamiento; */
    animation-duration: 1.5s;
}

@keyframes desplazamiento{
    from{
        transform: translateX(-1200px);
    }
    to{
        transform: translateX(0px);
    }
}

.caratula__derecha{
    position: absolute;
    top: 15vh;
    right: 5vw;
    width: 40%;
    opacity: 0.5;
}

.caratula__A3D{
    width: 100%;    
}

/* -------------------- sobreMi -------------------- */
.sobremi{
    padding-bottom: 100px;
    background-image: url(img/fondo_sobremi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.sobremi__cont{
    text-align: center;
    padding-top: 100px;
}

.sobremi__titulo{
    display: inline-block;
    font-size: 40px;
    color: #000;
    width: 100%;
    border-bottom: 3px solid var(--rojo--primario);;
}

.sobremi__principal{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobremi__contenedor-foto{
    width: 280px;
}

.sobremi__foto{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    filter: drop-shadow(5px 5px 10px #444);
    
}

.sobremi__contenedor-texto{
    width: 50%;
    text-align: left;
    padding-left: 10px;
}

.sobremi__texto{
    font-size: 16px;
    font-weight: 300;
    text-align: justify;    
}

.sobremi__titulo2{
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* -------------------- herramientas -------------------- */
.herramientas{
    padding-bottom: 50px;
    background-color: #000;
}

.herramientas__cont{
    text-align: center;
    padding-top: 100px;
}

.herramientas__titulo{
    display: inline-block;
    font-size: 40px;
    color: #fff;
    width: 100%;
    border-bottom: 3px solid var(--rojo--primario);;
}

.herramientas__desweb,
.herramientas__grafico,
.herramientas__3d{
    background-color: #333;
    border-radius: 12px;
    width: 70%;
    padding: 20px 40px;
    margin: auto;
    margin-top: 40px;
    transition: all 400ms;
}

.herramientas__desweb:hover,
.herramientas__grafico:hover,
.herramientas__3d:hover{
    transform: scale(1.1);
}

.herramientas__titulo2{
    color: #ccc;
    font-size: 25px;
    font-weight: 500;
    background: linear-gradient(to right, rgba(0,0,0,0), #222 50%, rgba(0,0,0,0));
    transition: all 300ms;
}

.herramientas__desweb:hover .herramientas__titulo2,
.herramientas__grafico:hover .herramientas__titulo2,
.herramientas__3d:hover .herramientas__titulo2{
    background: linear-gradient(to right, rgba(0,0,0,0), var(--rojo--primario) 50%, rgba(0,0,0,0));
    color: #000;
} 

.iconos{
    width: 50px;
    margin: 20px 20px;       
}

.herramientas__desc{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}

.iconos--sd{
    width: 80px;
}

/* -------------------- trabajos -------------------- */
.trabajos{
    padding-bottom: 50px;
    background-color: #eee;
}

.trabajos__cont{    
    text-align: center;
    padding-top: 100px;
}

.trabajos__titulo{
    display: inline-block;
    font-size: 40px;
    color: #000;
    width: 100%;
    border-bottom: 3px solid var(--rojo--primario);;    
}

.trabajos__galeria{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}

.galeria__proyecto{
    margin: 20px;
    position: relative;
    width: 350px;
    height: 280px; 
    border-radius: 10px;   
    overflow: hidden;
    box-shadow: 3px 3px 10px #666;
}

.galeria__proyecto:hover .galeria__info-img{
    opacity: 1;
}

.galeria__imagen{
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.galeria__info-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 400ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria__texto{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

/* imagenes 3d */

.galeria__imagenes3d{
    position: absolute;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 300ms;
    left: -150%;
}

.galeria__imagenes3d img{
    width: 58%;
    border-radius: 20px;
}

.galeria__imagenes3d:target{
    left: 0px;
}

.galeria__imagenes3d img:target{
    left: -150%; 
}

/* -------------------- contacto -------------------- */
.contacto{
    background-image: url(img/fondo_negro_textura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}

.contacto__cont{
    text-align: center;
}

.contacto__mail{
    font-size: 20px;
    color: var(--rojo--primario);;
}

.contacto__wrap-redes{
    text-align: center; 
    padding: 5px 0 20px 0;  
}

.iconos--linkedin,
.iconos--github{
    width: 35px;
}

.iconos--linkedin:hover,
.iconos--github:hover{
    transition: all 400ms;
}

.iconos--linkedin:hover,
.iconos--github:hover{
    transform: scale(0.8);
}

/* -------------------- responsive -------------------- */

@media (max-width: 960px){
    .sobremi__principal{
        flex-direction: column;
    }

    .sobremi__contenedor-texto {
        width: 90%;
        padding-top: 10px;
    }  
    
    
}


@media (max-width: 800px){
    .sobremi__contenedor-foto{
        width: 300px;
        height: 300px;
    }

    .galeria__proyecto{
        margin: 10px;
        width: 200px;
        height: 130px; 
        border-radius: 10px;
    }

    .contacto__wrap-redes {
        padding: 5px 0;
    }

    .caratula__derecha {
        width: 64%;
    }
}

@media (max-width: 640px){

    .menu{
        padding: 0px 50px
    }

    .header__texto1, .header__boton {
        font-size: 18px;
    }

    .header__texto2 {
        font-size: 45px;
    }

    .header__texto3 {
        font-size: 24px;
    }

    .header__texto3--rojo {
        color: var(--rojo--primario);;
        font-size: 35px;
    }

    .header__boton {
        padding: 9px;
    }

    .caratula__derecha {
        width: 50%;
    }

    .menu__logo {
        width: 44px;
        min-width: 44px;
    }

    .menu__enlace {
        font-size: 11px;
    }

    .sobremi__titulo,
    .herramientas__titulo,
    .trabajos__titulo{
        font-size: 27px;
    }

    .sobremi__cont,
    .herramientas__cont,
    .trabajos__cont{
        padding-top: 67px;
    }

    .sobremi__contenedor-foto{
        width: 150px;
        height: 150px;
    }
    
    .sobremi__foto{
        filter: drop-shadow(2px 2px 7px #444);
    }

    .sobremi__titulo2 {
        font-size: 19px;
    }

    .sobremi__texto {
        font-size: 16px;
    }

    .iconos {
        width: 30px;
        margin: 10px 10px;
    }

    .iconos--sd {
        width: 50px;
    }

    .herramientas__titulo2 {
        font-size: 19px;
    }

    .herramientas__desc {
        font-size: 10px;
    }

    .contacto{
        padding-top: 13px;
    }

    .contacto__mail {
        font-size: 13px;
    }
}

@media (max-width: 480px){
    .menu{
       flex-direction: column;
    }
        
    .sobremi__cont,
    .herramientas__cont,
    .trabajos__cont{
        padding-top: 70px;
    }

    .herramientas__desweb, 
    .herramientas__grafico, 
    .herramientas__3d {
        padding: 14px 10px;
    }

    .header__boton {
        margin-top: 170px;
    }

    .caratula__izquierda {
        padding-left: 0vw;
    }

    .header__texto3--rojo{
        font-size: 29px;
    }

    .caratula__derecha {
        width: 64%;
    }
    
}
